{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <title>Portico Tennis</title>
</head>
<body>
    <div class="container">
        <h2>Portico Tennis</h2>
        <h3>Set a New Password</h3>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Set New Password</button>
        </form>
    </div>
</body>
</html>