{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <title>Portico Tennis</title>
</head>
<body>
    <div class="container">
        <h2>Portico Tennis</h2>
        <h3>Password Reset Requested</h3>
        <p>If the email address you entered is associated with an account, you will receive a password reset email shortly.</p>
    </div>
</body>
</html>