{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <title>Portico Tennis</title>
</head>
<body>
    <div class="container">
        <h2>Portico Tennis</h2>
        <h2>Set a New Password</h2>
        <!--
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Set New Password</button>
        </form>
        -->
        {% if validlink %}
            <form method="post">
                {% csrf_token %}
                
                <div class="form-group">
                    <label for="id_new_password1">New Password</label>
                    <div class="password-wrapper">
                        {{ form.new_password1 }}
                        <i class="fa fa-eye toggle-password" data-target="id_new_password1"></i>
                    </div>
                    {% if form.new_password1.errors %}
                        <div class="error-message">{{ form.new_password1.errors.0 }}</div>
                    {% endif %}
                </div>

                <div class="form-group">
                    <label for="id_new_password2">Confirm Password</label>
                    <div class="password-wrapper">
                        {{ form.new_password2 }}
                        <i class="fa fa-eye toggle-password" data-target="id_new_password2"></i>
                    </div>
                    {% if form.new_password2.errors %}
                        <div class="error-message">{{ form.new_password2.errors.0 }}</div>
                    {% endif %}
                </div>

                <button type="submit">Set New Password</button>
            </form>
        {% else %}
            <p>The password reset link is invalid, possibly because it has already been used. Please request a new password reset.</p>
        {% endif %}
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            document.querySelectorAll(".toggle-password").forEach(function(toggleIcon) {
                toggleIcon.addEventListener("click", function() {
                    let input = document.getElementById(toggleIcon.getAttribute("data-target"));
                    if (input.type === "password") {
                        input.type = "text";
                        toggleIcon.classList.remove("fa-eye");
                        toggleIcon.classList.add("fa-eye-slash");
                    } else {
                        input.type = "password";
                        toggleIcon.classList.remove("fa-eye-slash");
                        toggleIcon.classList.add("fa-eye");
                    }
                });
            });
        });
    </script>
</body>
</html>